[2017-06-08 02:05] jmunroe opened #12 "Zonal mean diagnostics need to account for non uniform grid"
Simple mean of xt_ocean is incorrect.

[2017-06-08 20:36] StephenGriffies opened #13 "relative vorticity"
Does someone have a kernel for the relative vorticity:

\zeta = v_x - u_y

to add to this cookbook?

To that, we should add the Rossby number

Ro = \zeta/f

where f=Coriolis parameter.

[2017-09-20 04:41] AndyHoggANU opened #14 "MOC Routines"
I've just added a pull request for some of the MOC density-space calculations that I've been working on. They work but I'm not really happy with them because:

- [ ] They don't yet include the submesoscale parameterised component;
- [ ] The addition of GM requires a specific flag;
- [ ] I think we may also want to add the ability to diff between runs
- [ ] I would like to add functionality to spec

[2017-11-13 23:55] aekiss opened #15 "2nd order conservative interpolation of obs fields"
Should we use 2nd order conservative interpolation of obs fields (eg WOA) now that it is available?
https://github.com/OceansAus/access-om2/issues/52#issuecomment-344097272

[2017-11-17 05:09] jmunroe opened #9 "T/S diagams"

[2017-11-17 05:09] jmunroe opened #7 "ocean annual cycle diagnostics - eg meridional heat transport, cf obs http://www.cgd.ucar.edu/cas/catalog/ocean/ohts/index.html"

[2017-11-17 05:09] jmunroe opened #8 "cf CESM POP diags http://www.cesm.ucar.edu/working_groups/Ocean/metrics.html"

[2017-11-17 05:09] jmunroe opened #11 "cf Obs4MIPs dataset and documentation https://climatedataguide.ucar.edu/climate-model-evaluation/obs4mips-datasets-and-documentation"

[2018-01-25 05:53] aekiss opened #10 "pcolormesh not working in Model_Resolution_Comparison"
Model_Resolution_Comparison used to work but now fails at cell 5 with
`ValueError: x and y arguments to pcolormesh cannot have non-finite values or be of type numpy.ma.core.MaskedArray with masked values`
which is weird because as far as I can tell the plotted variables are not masked and have no nans or infs.

full error:
[code]

[2018-07-03 08:13] aekiss opened #6 "Put observational datasets in cookbook"
Email from @AndyHoggANU from 8 Nov last year:

-------------------------

A key aspect of our model evaluation is the comparison of spinup simulations with observations. These evaluations will provide us with objective measures of model sensitivity to forcing, relative to model errors. They will also enable confidence in the model mean state.

Incorporation of observations into the COSIMA cookbook

[2019-06-06 04:12] navidcy opened #5 "Computing geostrophic surface velocities from SSH"
This will be a useful contribution.

[2019-06-26 05:00] aekiss opened #17 "Tutorials/COSIMA_CookBook_Tutorial.ipynb updates"
Need to include `session = cc.database.create_session()` and replace `db` with `session` throughout COSIMA_CookBook_Tutorial.ipynb

[2019-08-09 22:33] jmunroe commented on #17
Was this resolved by PR #16? I thinks so.

[2019-08-26 05:01] hakaseh opened #20 "AttributeError: module 'cosima_cookbook' has no attribute 'database'"
Not sure if my issue is related to #17 but I just started going through COSIMA_CookBook_Tutorial and got the following error:

session = cc.database.create_session()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-7-752c2664298f> in <module>
----> 1 session = cc.database.create_s

[2019-08-26 23:31] angus-g commented on #20
Is it possible that your jupyter kernel is from an older version of the conda environment?

[2019-08-27 03:34] hakaseh commented on #20
sorry but what do you mean by jupyter kernel?
I tried other conda versions (conda env:analysis3-19.04, conda env:analysis3-19.07, conda env:analysis3-19.01) but all gave the same error.

[2019-08-30 06:02] hakaseh opened #21 "time values for CICE output are shifted by a month using open_mfdataset"
This may not be specific to the cosima cookbook, but I have a problem reading the time values correctly for the CICE output using xarray. Basically, the time values are shifted by a month after loading the files with open_mfdataset.

For example, when loading monthly-mean output for 1 year (12 files), the loaded xarray dataset will have time values: Feb. of Year 1 ... Jan. of Year 2, while expecti

[2019-08-30 06:48] aekiss commented on #21
Yes, this is annoying and a known problem. My workaround has been to shift the time back by 12 hours - see `fixcicetime` in https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/ice_timeseries/ice_timeseries.ipynb

[2019-08-30 08:03] angus-g commented on #21
I also suggested using the mean of the bounds to do this at one point: https://github.com/COSIMA/cosima-cookbook/pull/109

[2019-08-30 08:03] russfiedler commented on #21
Unfortunately specifying time at the end of the bounds of the time cell is fine under CF conventions http://cfconventions.org/cf-conventions/cf-conventions.html#cell-boundaries See example 7.5

`data:
  time = 0., 12., 24., 36., 48.;
  time_bnds = -12.,0., 0.,12., 12.,24., 24.,36., 36.,48.;

Note that in this example the time axis values coincide with the end of each interval. It is sometimes desi

[2019-09-02 00:24] hakaseh commented on #21
Thanks everyone for your insights!
I've implemented fixcicetime by @aekiss and it seems to be working.

[2019-09-02 00:24] #21 closed

[2019-09-16 05:43] shweta121sharma opened #22 "module 'cosima_cookbook.querying' has no attribute 'get_variables'"
I am trying to run cosima_receipe simple example because of all my scripts in old_version of cosima_receips (with kernel 19.01). I am trying to update with the new version (with kernel 19.07).  I can't get_variables and if I gave a path to load the dataset, then the kernel is dying all the time. I am unable to move forward with simple plots too. Please, kindly help me out.

[2019-09-17 06:15] angus-g commented on #22
Have you got an example of the notebooks you're trying to run? Which system is this on?

Do you mean if you're going through xarray directly? What calculation are you trying to do on the data?

[2019-09-17 06:18] shweta121sharma commented on #22
Hi Angus, I am trying to run cosima_cookbook_tutorial.ipynb from a tutorial folder on vdi.

[2019-09-17 06:29] angus-g commented on #22
Looks like the tutorial is written for a version of the cookbook package that isn't included in analysis3/19.07. The older version doesn't have the `get_variables` function, so that explains that bit!

[2019-09-17 06:32] shweta121sharma commented on #22
Thanks Angus.

[2019-10-03 04:53] aidanheerdegen commented on #22
We have done the quarterly update of the `conda` modules. This seems an appropriate
time to install the latest version (`0.3.3beta2`) into the `conda/analysis3-unstable` environment (which is an alias to `conda/analysis3-19.10`).

I have done this, so hopefully we can align the examples with a publicly available version of `cosima-cookbook`.

[2019-10-04 06:57] aidanheerdegen opened #23 "Documented examples: Kinetic Energy notebook out of date"
The kinetic energy notebook @jmunroe wrote uses the old COSIMA Cookbook API, and so is not consistent with the latest version, `0.3.3beta2`.

https://github.com/COSIMA/cosima-recipes/blob/master/DocumentedExamples/kinetic_energy.ipynb

I used that as a base to create a notebook for Shweta. I don't think it is suitable to replace James' as it only uses surface velocities, but if someone wanted to u

[2019-11-13 00:57] navidcy opened #24 "Find out which are the available variables from an experiment"
https://github.com/COSIMA/cosima-recipes/blob/master/Tutorials/COSIMA_CookBook_Tutorial.ipynb
I am trying to do
[code]
to find out the names of the available variables I can get with `cc`. I learned this from here:
https://github.com/COSIMA/cosima-recipes/blob/master/Tutorials/COSIMA_CookBook_Tutorial.ipynb

However, I'm getting an error:
[code]

Was `cc.querying.get_variables` deprecated? If so,

[2019-11-13 01:21] angus-g commented on #24
That function is only in the `conda/analysis3-unstable` module at the moment, I believe.

[2019-11-13 01:21] #24 closed

[2019-11-13 01:31] navidcy commented on #24
The notebook **explicitly** says at the beginning:

[2020-03-26 01:35] #20 closed

[2020-03-26 01:35] #22 closed

[2020-03-26 10:07] #17 closed

[2020-03-26 10:10] AndyHoggANU opened #32 "Applying filtering/coarse-graining techniques on ACCESS-OM2 output"
in the spirit of Aluie et al 2017, JPO, doi:10.1175/JPO-D-17-0100.1

[2020-03-26 10:27] #14 closed

[2020-03-26 10:29] AndyHoggANU commented on #10
This error occurs because geolon_t and geolat_t is masked, and pcolormesh can't handle it. contourf can, or you can grab a different copy of the axis variables. See the tutorial Making_Maps_with_Cartopy.ipynb for details and examples.

[2020-03-26 10:29] #10 closed

[2020-03-26 10:33] AndyHoggANU commented on #9
This issue relates to the Contributed Example: TS_Plot.ipynb
This script needs updatings as it fails with the current cookbok.
It could also be embellished with examples of how to plot a 2D histogram, and other nice examples.

[2020-03-26 22:32] navidcy commented on #13
This can be nicely done with `xgcm`. One needs not know any Fortran code; only how the B-grid is structured.

[2020-03-26 22:48] navidcy opened #33 "Use OceanSpy to extract "observational data" from ACCESS-OM2"
[OceanSpy](https://oceanspy.readthedocs.io/en/latest/quick.html) is a python package that can be used to extract observational-like data from model output.

A notebook that uses this to extract, e.g., some virtual mooring data from the model and compare with real data sounds like a need contribution to the cookbook-recipes.=

[2020-03-26 23:04] navidcy commented on #5
@AndyHoggANU you reckon this is hackathon-worthy? Or worthy in general? Otherwise I'll close the issue.

[2020-03-27 00:59] AndyHoggANU commented on #5
Yes, it is!
Would be great if it can be done nice and transparently with xgcm?

[2020-03-31 21:09] amy-gardening opened #34 "Lawn Mowing Automation"
Use the cosima-cookbook to automate the lawn mowing procedure. Task to be undertaken by @amy-gardening.

[this issue is, apparently, a joke that stems from the hackathon [promotional video](https://www.youtube.com/watch?v=JO-_jaPW8S8)]

[2020-03-31 21:39] navidcy opened #35 "Fix kinetic_energy.ipynb from Documented Examples"
The `kinetic_energy.ipynb` has some cells not evaluating properly.

On top of that some further possible enhancements may include:
- Add `%config InlineBackend.figure_format='retina'` below line `%matplotlib inline` so that plots are shown in the screen with higher quality; particularly relevant for retina display users.
- MKE is now defined as the sum over vertical levels `MKE = KE.mean('time').s

[2020-03-31 21:53] navidcy opened #36 "Documented examples: Fix scalars.ipynb"
The `scalars.ipynb` notebook is failing from the very start --- this needs fixing.

[2020-03-31 22:06] navidcy opened #37 "Documented examples: Fix Transport_Through_Straits.ipynb"
The `Transport_Through_Straits.ipynb` notebook is giving errors. I caught a typo (`Straights`-->`Straits`) which might do the job.

Currently, the notebook supports computing transports "only along lines of either constant latitude or longitude". Could we extend this to any general curve/straight line we like?

Also, I noticed division by some `1036` at some point. This smells like "the mean densi

[2020-03-31 22:09] aidanheerdegen commented on #34
I applaud your commitment to the joke.

[2020-03-31 22:14] navidcy commented on #35
this is a duplicate of #23 ; my bad.

[2020-03-31 22:14] #35 closed

[2020-03-31 22:15] navidcy commented on #23
Some more remarks on this notebook:

On top of making sure that all cells work properly, some further possible enhancements may include:

- Add `%config InlineBackend.figure_format='retina'` below line `%matplotlib inline` so that plots are shown in the screen with higher quality; particularly relevant for retina display users.
- MKE is now defined as the sum over vertical levels `MKE = KE.mean('t

[2020-04-01 01:22] josuemtzmo commented on #23
I'm interested in hacking this through! Can you assign this to me?

[2020-04-01 01:31] josuemtzmo commented on #32
Can I join this one?

[2020-04-02 01:17] AndyHoggANU opened #38 "Devise naming structure for scripts in this repo"

[2020-04-02 08:50] navidcy commented on #38
I think, contrary to what @AndyHoggANU was implying/suggesting during the MOM meeting on Apr 2nd, that the repository will benefit *a lot* if the `ContributedExamples` directory is cleared out!

Having code/notebooks that don't work or with no comments explaining to user to the bare minimum what the code is trying to achieve is, in my opinion, a bad practice. To be honest, a major reason I was pul

[2020-04-02 09:04] navidcy opened #39 "Run notebooks online via binder"
Is there a way the repository can be on https://mybinder.org so that jupyter-notebooks can be run online? I guess it's hard (if not impossible) since access to NCI is needed. But if is a possibility it sounds very neat thing to do.

@AndyHoggANU do you think that would be useful?
@aidanheerdegen, @angus-g any ideas whether it's at all feasible?

[2020-04-02 23:54] navidcy opened #40 "Documented examples: Fix zonal_mean.ipynb"
First of all the notebooks' name is non-descriptive. `Zonal_mean_Temperature.ipynb` is a compelling alternative.

Secondly, the line
[code]
seems outdated or deprecated.

More problems may arise after the second cell manages to evaluate...

[2020-04-03 00:43] rmholmes opened #41 "Documented example for plotting T & S biases vs. WOA13"
Put together a documented example showing how to plot differences between ACCESS-OM2 T & S fields and the WOA13 data set. I don't think there is one yet and I can just update my own scripts.

[2020-04-03 00:45] rmholmes opened #42 "Allow anyone to add issues to hackathon project"
I still cannot add issues to the hackathon project or move them to "claimed". Anyone have a fix for this? @navidcy?

[2020-04-03 00:49] navidcy commented on #42
this doesn't work for you?

<img width="375" alt="Screen Shot 2020-04-03 at 11 48 01 am" src="https://user-images.githubusercontent.com/7112768/78312963-10303280-75a1-11ea-960a-92b20c735932.png">

[2020-04-03 00:50] rmholmes opened #43 "Documented Example for WMT diagnostics"
Put together an example which illustrates some of the uses of the temperature (or salinity)-space WMT diagnostics.

The lowest hanging fruit would be plotting the global internal heat content budget in temperature space.

Matlab code to do this is contained here - https://github.com/rmholmes/MOM_diatherm_analysis . Here the idea would be to start converting some of this code to python.

[2020-04-03 00:52] rmholmes commented on #42
Nope, there is no cog in the top right corner... Seems like I don't have the permissions.

<img width="750" alt="Issue" src="https://user-images.githubusercontent.com/19428871/78313121-8af94d80-75a1-11ea-884e-7503ac8b867d.png">

[2020-04-03 00:58] rmholmes commented on #38
I agree that `ContributedExamples` should not contain a mishmash of everything that anyone wants to add, whether it works or not. Replacing with `sandbox` is a good idea.

However, one issue with getting rid of `ContributedExamples` altogether is that the bar to turn an example into a `DocumentedExamples` might be a bit high for most people (i.e. it requires more time than people might have to go

[2020-04-03 01:07] aidanheerdegen commented on #42
I have changed the permissions on cosima-contrib team to write. Can you try now?

You are a maintainer on that team:

https://github.com/orgs/COSIMA/teams/cosima-contrib/members

which means you can add people to to that team to give them similar privileges if you need to.

Will that suffice?

[2020-04-03 01:10] rmholmes commented on #42
Thanks @aidanheerdegen, yes it's working now.

[2020-04-03 01:10] #42 closed

[2020-04-03 01:12] navidcy commented on #38
But @rmholmes, uncommented code is useless... similarly to uncommented jupyter-notebook cells. This is a public repository, not each persons notes. The bar should be a bit higher, indeed. That would be **better** for everybody (mostly for newbies) in the long run. I insist, that messy contributed examples create confusion...

I'm not implying that each person should do this by themselves. What I s

[2020-04-03 01:20] rmholmes commented on #38
Perhaps. I was thinking that there was a difference between commented code (which I totally agree is essential) and a documented example (which is much more extensive in terms of explaining how and why things are done the way they are). But I'm happy to be corrected.

[2020-04-03 01:22] navidcy commented on #38
A notebook that consists of a series of `cc.load...` and `plt.plot(x, y, z)` commands is, in my view, uncommented code. Perhaps phrased better "illustrated uncommented code" :)

[2020-04-03 01:29] navidcy commented on #38
hm... perhaps we are getting into semantics here (and that's diverting our focus).

I'll try go through the contributed examples and point out which ones might make no sense and need either deletion or some comments

[2020-04-03 01:29] AndyHoggANU commented on #38
How about this - during the hackathon, people can develop and improve contributed examples. Any documentation they put there is to be encouraged. When they do their pull request, then the administrator can choose to either upgrade it to a documented example (adding additional documentation if needed) or leave it there.

Deleting ContributedExamples is an aspirational goal. Let's install the sandbo

[2020-04-03 05:27] AndyHoggANU opened #45 "Documented Example to plot Barotropic Streamfunction"
Suggestion is to merge very old code from `ContributedExamples/BarotropicStreamFunction.ipynb` and `ContributedExamples/plot_bsf.ipynb`
with code from
https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/tree/master/figures/BarotropicStreamfunction
neither of which work with the current Cookbook.

Also, make some nice-looking maps, etc.

[2020-04-03 05:30] AndyHoggANU opened #46 "Documented Example to plot model bathymetry"
This task involves a merger of
ContributedExamples/BathymetryDetails.ipynb
with
ContributedExamples/Bathymetry.ipynb
along with some updating of code and additional documentation.

[2020-04-03 05:32] AndyHoggANU opened #47 "Documented Example to plot wind stress curl"
Would be great to update:
ContributedExamples/CC_WindStress_Curl.ipynb
As well as making it more cookbook-ie, this could also benefit from using xgcm to take derivatives etc.

[2020-04-03 07:07] claireyung commented on #9
Hi Ryan, would I be able to help out with this one? I have been making T-S diagrams with 2D histograms and could contribute making some documented examples if that's ok!
cheers
Claire

[2020-04-05 01:35] glwagner commented on #34
Can you please provide a link to the cosima cookbook?

[2020-04-05 01:39] navidcy commented on #34
The cookbook's repo is here https://github.com/COSIMA/cosima-cookbook

But @glwagner, to access the model output that the cookbook is all about  you need to have access to Australia's HPC facilities. I don't know/I'm not sure how and if any "outsider" can utilize the cookbook to access [ACCESS-OM2](http://cosima.org.au/index.php/models/access-om2/) model output.

@AndyHoggANU, @angus-g, @aidanheer

[2020-04-05 02:18] AndyHoggANU commented on #34
Yeah, that is pretty much right.
But we can get access to the system for international collaborators ...

[2020-04-05 21:53] AndyHoggANU opened #48 "Hovmoller - depth plots"
This task involves updating `ContributedExamples/Hovmoller_Temperature_Depth.ipynb` to the latest version of the cookbook.
If possible, add more comments and make it a documented example.

[2020-04-05 21:57] rmholmes commented on #9
HI @claireyung, no worries you can have it. Happy to help out if needed.

[2020-04-05 22:00] AndyHoggANU opened #49 "Create a tutorial to plot sea ice variables"
It would be nice to see a careful tutorial showing how ice variables can be loaded and plotted.
This could replace `ContributedExamples/Ice Diagnostics.ipynb`.

[2020-04-05 22:03] AndyHoggANU opened #50 "Compare sea ice with obs"
Make a `DocumentedExample` which merges:
* `ContributedExamples/Ice Validation mom025.ipynb`
* `ACCESS-OM2-1-025-010deg-report/figures/ice_maps/ice_maps.ipynb`
*`ACCESS-OM2-1-025-010deg-report/figures/ice_timeseries/ice_timeseries.ipynb`
to compare ice output with observations

[2020-04-05 22:09] AndyHoggANU opened #51 "Update Model Resolution Comparison"
The notebook `ContributedExamples/Model_Resolution_Comparison.ipynb` is just a simple set of files to compare the flow that we obtain from different resolutions of the model.
This could be updated.
See also https://github.com/AndyHoggANU/CC_sandbox/blob/master/ResolutionComparison.ipynb for other ideas on how to plot this.

[2020-04-05 22:12] AndyHoggANU opened #52 "Overturning circulation by basin"
Take the example in `ContributedExamples/atlantic-indopacific-basin-averaged-MOC.ipynb` and create a generic method to plot overturning circulation within the Atlantic or Indian-Pacific basin.

[2020-04-05 22:15] AndyHoggANU commented on #38
BTW, I have added a Sandbox directory

[2020-04-05 22:22] AndyHoggANU opened #54 "Update Tropical Pacific plots"
This could be a merger of:
* `ContributedExamples/plot_TAO_140W_0N.ipynb`
* `ACCESS-OM2-1-025-010deg-report/figures/equatorial_pacific/Equatorial_Pacific.ipynb`
along with documentation to create a DocumentedExample.

[2020-04-05 22:26] AndyHoggANU opened #55 "Meridional heat Transport Plot"
This task involves updating `ContributedExamples/plot_mht.ipynb` to the latest version of the cookbook, and documenting to create a DocumentedExample. It could also benefit from incorporating code from `ACCESS-OM2-1-025-010deg-report/figures/meridional_heat_transport/Meridional_Heat_Transport.ipynb`.

[2020-04-05 22:29] AndyHoggANU opened #56 "Plotting MLD"
Make an example to plot Mixed Layer Depth from the model. This could be based on `ContributedExamples/plot_mld.ipynb`.

[2020-04-05 22:31] AndyHoggANU commented on #48
Could also extend to salinity or perhaps even ideal age?

[2020-04-05 22:34] AndyHoggANU opened #57 "Update SSH Plots"
This task involves updating `ContributedExamples/plot_ssh.ipynb` for the latest version of the cookbook, and documenting. Result would be a plot to compare global SSH and its variance to AVISO obs.
Could also be informed by `ACCESS-OM2-1-025-010deg-report/figures/dynamic_topo/DynamicTopography.ipynb`and `ACCESS-OM2-1-025-010deg-report/figures/ssh_variance/SeaLevelRMS.ipynb`

[2020-04-05 22:38] AndyHoggANU opened #58 "Monitoring model stability"
The notebook `ContributedExamples/plot_w_bt.ipynb` was developed to monitor the maximum vertical velocity, `w_bt`, and plot it to show where the model is most unstable. Needs updating and documenting.

[2020-04-05 22:39] navidcy commented on #38
in #53? doesn't seem that you did..
I'll do it.

[2020-04-05 22:39] AndyHoggANU commented on #54
Presumably this would also allow us to replace `ContributedExamples/plot_temp_u_140w.ipynb` and `ContributedExamples/plot_temp_u_eq.ipynb`.

[2020-04-05 22:40] angus-g commented on #38
Note that git requires some kind of a file inside a directory, or it'll be ignored. Could be as simple as an empty `.gitignore` or a directory-specific `README`

[2020-04-05 22:40] AndyHoggANU commented on #51
This could also be merged with `ContributedExamples/plot_surface_current.ipynb`

[2020-04-05 22:43] AndyHoggANU opened #59 "Update and document surface water mass transformation plots"
Update `ContributedExamples/surface_water-mass_transformation.ipynb`

[2020-04-05 22:44] AndyHoggANU opened #60 "Update tropical Indian Ocean plot."
Update `ContributedExamples/u_seasonal_cycle_ind_eq.ipynb` to latest version of cookbook.

[2020-04-05 22:47] navidcy opened #61 "Clear up old notebooks"
By the end of COSIMA Hackathon 2020, all notebooks that are **still** not working or they are not documented to the bare minimum will be moved to `sandbox`.

[2020-04-05 22:47] AndyHoggANU commented on #38
Yeah, that was probably where I went wrong ...

[2020-04-05 22:50] navidcy commented on #57
A rename would be adequate. Notebooks names like `plot_XYZ.ipynb` don't convey much information. It is, more or less, expected that a plot (or series of plots) will appear in a notebook.

[2020-04-05 22:51] navidcy commented on #38
I added a `README.md`

[2020-04-05 22:54] navidcy commented on #58
or simply needs deleting? (just saying)

[2020-04-05 22:55] AndyHoggANU opened #62 "Tutorial: Making animations"
Write a tutorial on how to make simple animations with the cookbook. Examples could be to show the seasonal cycle of Antarctic sea ice, or a transect that is dragged through a static, or moving, ocean...

[2020-04-05 22:56] navidcy commented on #60
And a better name? With the turn of the 21st century, we are not restricted (as far as I know) by maximum character length in filenames so
`u_seasonal_cycle_ind_eq.ipynb` could be, at least, spelled out to help the users...

[2020-04-05 22:57] navidcy commented on #62
this [notebook](https://github.com/ClimateFluidPhysics-ANU/AnimationsScriptsSandbox/tree/master/KelpSouthernOcean) might be a good starting point?

[2020-04-05 23:02] jmunroe opened #63 "Showcase experiments in default database?"
Using the experiments that are available on hh5 and indexed in the "default" cosima cookbook database, what experiments are good to use as example datasets in the recipes?

Currently, there are 157 experiments indexed but I'll assume are some are more useful than others.  There are 75 experiments with greater than 1000 netcdf files.

Could we identify some experiments based on ACCESS-OM2 at each o

[2020-04-05 23:02] rmholmes commented on #54
I have got a new script that combines some of these types of plots. I will adapt it and merge in anything else from those named scripts that is missing.

[2020-04-05 23:06] jmunroe commented on #63
Maybe some subset of this list?

 experiment | ncfiles
 -- | --
01deg_jra55v13_ryf8485_spinup6_newexe_highfreq | 1222
01deg_jra55v13_ryf8485_spinup6_newexe | 1322
01deg_jra55v13_iaf | 2700
01deg_jra55v13_ryf8485_spinup6 | 6830
025deg_jra55v13_ryf9091_gmredi6 | 4111
025deg_jra55v13_iaf_gmredi6 | 4727
025deg_jra55v13_ryf8485_gmredi6 | 4980
025deg_jra55v13_ryf8485_spinup_A | 4221
025deg_jra55v13_ryf8

[2020-04-05 23:23] rmholmes commented on #54
`plot_sst_pac.ipynb` is a different style of plot (Pacific-wide zonal and meridional average) and shouldn't be addressed here.

[2020-04-05 23:28] AndyHoggANU commented on #54
OK, fair enough. Key is that any old scripts which become redundant, please delete!!

[2020-04-05 23:33] aekiss commented on #13
here's the MOM code that Steve was referring to
https://github.com/mom-ocean/MOM5/blob/64990e1de853a175335848b67b580363053a79b4/src/mom5/ocean_diag/ocean_velocity_diag.F90#L1172-L1183

[2020-04-05 23:43] aekiss commented on #32
I'm interested in this one too. I did a bit of work a while ago on wavenumber spectra here. It's not the Aluie et al method but might still be useful: https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/spectra/spectra.ipynb

One slightly awkward thing is that the spatial grid is not uniform (in metres) so I am yet to set this up to properly give spectra in units of 1/m. I

[2020-04-05 23:43] jmunroe commented on #36
This documented example will also demonstrate the use of cc.querying for doing data discovery.

[2020-04-05 23:45] julia-neme commented on #45
I'd like to do this!

[2020-04-05 23:50] aekiss commented on #13
FWIW there's a script for plotting online-calculated vorticity here:
https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/vorticity/vorticity.ipynb

[2020-04-05 23:59] angus-g commented on #63
Maybe to add to this, we have the ability to put a `metadata.yaml` in the experiment root directory, with owner info and a description, but this hasn't been utilised. Maybe a bit late, but this could make browsing the experiments a bit easier?

[2020-04-06 00:00] aekiss commented on #37
Might be worth looking at/incorporating this https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/strait_transports/strait_transports.ipynb

[2020-04-06 00:01] cbladwell commented on #43
I can work on this

[2020-04-06 00:03] aekiss commented on #46
also see this? probably not that relevant though https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/bathymetry/bathymetry.ipynb

[2020-04-06 00:04] aekiss commented on #48
also see https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/hovmoller_temp_depth/Hovmoller_temp_depth.ipynb

[2020-04-06 00:05] janzika commented on #40
I have thoughts on doing 'proper' zonal average of both scalars (easier) and vectors (harder)

[2020-04-06 00:08] aekiss commented on #62
This notebook
https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/vorticity/vorticity.ipynb
shows how this movie was done
https://youtu.be/jo-xWkU0w6s

[2020-04-06 00:13] willrhobbs commented on #50
Happy to work on this @aekiss

[2020-04-06 00:44] angus-g opened #65 "Automatic gallery page"
If the plan is for all the notebooks in this repository to be evaluated with images, I can take a crack at automatically generating a gallery page with plots, and links to the notebooks.

[2020-04-06 00:56] jmunroe commented on #65
This sounds like the old sphinx_gallery stuff I used to have on readthedocs

[2020-04-06 00:58] vtamsitt commented on #56
I'd like to claim this and give it a go if I can get things working @navidcy

[2020-04-06 00:59] navidcy commented on #56
@vtamsitt ping me if you have technical issues :)

[2020-04-06 01:00] paigem commented on #57
I can take a stab at this one. @navidcy

[2020-04-06 01:03] vtamsitt commented on #56
Thanks :)

[2020-04-06 01:06] mauricehuguenin commented on #46
I can do this.

[2020-04-06 01:09] edoddridge commented on #51
I'll take a crack at this one. ping @jmunroe @navidcy

[2020-04-06 01:20] hrsdawson commented on #48
I can give this a go @AndyHoggANU

[2020-04-06 01:22] aekiss commented on #50
OK @willrhobbs let me know if you need a hand

[2020-04-06 01:48] aekiss commented on #49
There will be some overlap between this and the documented example in https://github.com/COSIMA/cosima-recipes/issues/50

[2020-04-06 02:06] willrhobbs commented on #50
@aekiss Trying to clarify exactly what the task is. I think you want a ipynb that calculates and plots - in a reasonably user-friendly way :
 Arctic/Antarctic SIA and SIV (mean, max and min) by year, against obs (for SIA)
Arcitc/Antarctoc SIA and SIV climatology (again, against obs for SIA)
maps of Arctic and Antarcic mean and max SIC  and SIT (plus obs where for SIC).

[2020-04-06 02:34] aekiss commented on #50
I'm not completely clear on what @AndyHoggANU was intending here, but what you propose seems about right.

Plots of area-integrated timeseries could be based on https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/tree/master/figures/ice_timeseries
and maps of coverage could be based on https://github.com/COSIMA/ACCESS-OM2-1-025-010deg-report/blob/master/figures/ice_maps/ice_maps.ipynb
These s

[2020-04-06 02:36] willrhobbs commented on #50
OK @aekiss , I think that's enough for get on with.

[2020-04-06 03:07] AndyHoggANU commented on #50
Yep, that's the kind of thing I was thinking of. Key is - there is no sea ice diagnostics at all in the DocumentedExamples at the moment!! Main thing is to have something in there that is well-explained so others can use it.

[2020-04-06 03:09] AndyHoggANU commented on #49
That's OK. The main thing is that the tutorial should be transparent enough that a first-year undergrad can pick it up!

[2020-04-06 03:17] abhisheksavita opened #69 "Global Ocean Volumetric Temperature and Salinity Change"

[2020-04-06 03:51] #36 closed

[2020-04-06 04:52] #54 closed

[2020-04-06 05:50] claireyung commented on #62
FYI this is how I made gifs @AndyHoggANU

[code]
This finds all the images in the folder of the notebook, ordered by date made.
[code]
Lists the pictures, usually I check that the last few ones are the pictures I want to use if they've just been computed and saved using plt.savefig
[code]
Makes the gif using the most recent 12 images (e.g. monthly pictures for one year)

[2020-04-06 06:21] aekiss commented on #49
I didn't get very far with this. Here's the work in progress: https://github.com/aekiss/cosima-recipes/blob/59ee05b1e3a565bd6fdcc1ecf519d826adf3a018/Tutorials/Plot_Ice_Variables.ipynb

[2020-04-06 12:25] #57 closed

[2020-04-06 23:28] navidcy commented on #58
@AndyHoggANU nobody got interested on this. I will move it to `sandbox` or delete it completely and have one less notebook to worry about updating whenever `cc` changes. What do you  you reckon?

[2020-04-06 23:29] AndyHoggANU commented on #58
Yep - sandbox - but give it a descriptive name.

[2020-04-06 23:29] navidcy commented on #39
OK, I'm closing this for now.

[2020-04-06 23:29] #39 closed

[2020-04-06 23:34] #58 closed

[2020-04-07 00:47] claireyung commented on #9
I will try to improve the code so no need to review it yet! thanks

[2020-04-07 01:15] navidcy commented on #9
cool @claireyung
add a comment here and ping me or Andy or whoever when you feel the code is ready to review
I will add "[WIP]" (=work in progress) in the PR title to mark that this is not done yet..

[2020-04-07 01:36] #65 closed

[2020-04-08 03:33] #69 closed

[2020-04-08 07:16] navidcy commented on #52
@AndyHoggANU it’ll be done when/if merged. Don’t rush :)

[2020-04-08 11:31] #51 closed

[2020-04-08 11:51] #45 closed

[2020-04-09 03:15] navidcy opened #87 "xarray's .mean() function is simply an arithmetic mean"
`xarray`'s `.mean(dim='dimension')` is simply an arithmetic mean over that dimension.
It **does not** take into account that, e.g., dimensions's coordinates could be on a non-uniform grid.

Remark(s) on the use of `.mean()` should be included in the notebooks.

Probably I'm duplicating old news here? This #12, #40, and #85 are related.

[While this may seem like triviality or common knowledge to p

[2020-04-11 08:54] #23 closed

[2020-04-11 14:24] #40 closed

[2020-04-11 14:33] navidcy commented on #12
This was partially (or completely) resolved by #40 and #85.

[2020-04-11 14:33] #12 closed

[2020-04-12 10:48] amy-gardening commented on #34
After a lot of fiddling around and, most importantly, with the help from all of you, I managed to make it work! @navidcy and @josuemtzmo helped me a bit with installing the `cosima-cookbok` on the rasperry pi. Have a look here: https://www.youtube.com/watch?v=YrOubTFmFnQ

That was an amazing hackathon day! Special thanks should go to @aidanheerdegen, @angus-g, @AndyHoggANU, @jmunroe, @aekiss for o

[2020-04-12 23:37] #46 closed

[2020-04-15 02:54] #34 closed

[2020-04-16 02:29] navidcy opened #90 "Add a thumbnail pic to all Documented Examples"

[2020-04-16 08:33] josuemtzmo opened #94 "Cosima-Cookbook physics module"
There are several computations that usually are repeated within some of the recipes, for example:

- Kinetic Energy (Notebooks: Model_Resolution_Comparison.ipynb & Decomposing_kinetic_energy_into_mean_and_transient.ipynb)
- Compute derivatives (RelativeVorticity.ipynb)
- Streamfunction (Barotropic_Streamfunction.ipynb)
- etc. (I'm sure you have more ideas)

Perhaps we should try to create a module

[2020-04-16 11:39] AndyHoggANU commented on #94
Well, in principle, it does sound like a good idea.
In the original release of the cookbook we did try to include a bunch of scripts (functions) that people could load and use. We thought this would be useful for commonly used tasks, but noone ever knew they were there.

So, if we are to do this, we need to decide on a way to make sure they are clearly advertised, otherwise people will not use (or

[2020-04-16 11:48] josuemtzmo commented on #94
Yes, to facilitate their maintenance, we should have some support and rigorous tests. I guess they will be used if we manage to make them flexible enough.

[2020-04-17 03:51] navidcy commented on #94
I agree, if this is to be implemented is should be maintained and have rigorous tests.
But I see @AndyHoggANU's concern about people actually learn about it, use it and maintain it?

I feel that a first example would be a functionality in the spirit of '[true zonal mean](https://cosima-recipes.readthedocs.io/en/latest/documented_examples/True_Zonal_Mean.html#gallery-documented-examples-true-zonal-

[2020-04-19 03:33] #37 closed

[2020-04-19 03:33] #90 closed

[2020-04-24 00:17] #52 closed

[2020-04-24 00:17] angus-g opened #96 "More general function for delineating basins"
See discussion in #73: it would be nice to do the description of basins by a list of rectangles, instead of hand-coding the whole routine.

[2020-04-24 09:05] #13 closed

[2020-04-24 10:20] #41 closed

[2020-04-24 10:43] #61 closed

[2020-05-20 11:26] AndyHoggANU opened #103 "Slow performance by querying.getvar in accessing ice files"
I have been playing around a little with sea ice and was surprised to discover how slow it was to load variables.  I put together a little example to show the problem:

https://github.com/AndyHoggANU/CC_sandbox/blob/master/IceTesting.ipynb

If you run this, you will see that the load is pretty slow, and that the dask task stream is very choppy. But it is only loading 12 small files (the last year

[2020-05-20 13:01] angus-g commented on #103
The too long, didn't read version of this is: you can do `cc.querying.getvar(..., coords="all")`, but beware that it will change `ULON` and friends.

This particular query is slow because of the coordinate data in the ice files. The dataset looks something like:

[code]

xarray will rightfully not read any of the actual data when doing an `open_mfdataset`, but it will read coordinate data to combi

[2020-05-20 13:09] josuemtzmo commented on #103
I played a bit with the notebook, but instead of querying the variable, I queried the files and then loaded them:
`
variable='aice_m'
expt = '01deg_jra55v13_ryf9091'
ncfiles=[str(f[0].ncfile_path)  for f in cc.querying._ncfiles_for_variable(expt, variable, session)]
`
I also struggled loading the data, however when I added the flag `decode_cf=False`, the loading of the files was "normal".
`
ice_fi

[2020-05-20 13:17] angus-g commented on #103
Ah, nice find too. I guess the coordinates specified by the `coordinates` attribute are being loaded as part of the CF specification. Any kwargs passed to `getvar` that it doesn’t know about are forwarded through to xarray, so you could use `decode_cf=False` as an alternative.

[2020-05-20 23:27] AndyHoggANU commented on #103
OK - thanks both! Done some more investigating this morning. It turns out that `decode_cf=False` works well to load the data, but it doesn't decode times correctly, so I am then unable to plot a timeseries of ice extent.

`coords="all"` also loads quickly. As noted by Angus this gives me massive coordinate arrays, but I don't really need them, so hopefully if I don't touch them I will be good.

Ma

[2020-05-20 23:30] adele157 commented on #103
While we're on the topic of ice time... I assume everyone is aware of the issue with the dates in the ice variables too? When opened in xarray January is recorded with a date of eg '2086-02-01', so it really mucks up climatologies if you're not careful. I've just been overwriting the time with the time from an ocean variable. Not sure if someone has a nicer solution to this?

[2020-05-20 23:39] angus-g commented on #103
It looks like there might be a specific `decode_coords=False` flag for exactly this!

[2020-05-20 23:41] josuemtzmo commented on #103
Is that another **kwargs, or do the files need to be load with `decode_cf=False` and afterward decode the time using [xarray.decode_cf Documentation](http://xarray.pydata.org/en/stable/generated/xarray.decode_cf.html):
"""
xr.decode_cf(Dataset, decode_times=True, decode_coords=False, use_cftime=True)
"""

[2020-05-20 23:43] angus-g commented on #103
It's the former: `cc.querying.getvar(..., decode_coords=False)` -- should decode all other CF attributes, notably time, but not load in the coordinate data.

[2020-05-21 05:37] AndyHoggANU commented on #103
Awesome - that seems to do the trick!
Closing this one now.

[2020-05-21 05:37] #103 closed

[2020-05-26 00:16] navidcy commented on #96
What about [regionmask package](https://regionmask.readthedocs.io/en/stable/#)?

[2020-05-26 00:29] angus-g commented on #96
That looks pretty cool!

[2020-06-22 02:43] #9 closed

[2020-06-22 23:15] navidcy commented on #59
#104 closes this

[2020-06-22 23:15] #59 closed

[2020-06-24 02:05] navidcy commented on #49
#102 introduced a basic example on how to plot ice variables: https://github.com/COSIMA/cosima-recipes/blob/97feb3edd9af25021b082c7290552b03e04527c6/DocumentedExamples/IcePlottingExample.ipynb

[2020-07-13 06:00] navidcy commented on #32
To filter output fields properly one has to convolute them using a kernel, e.g., a gaussian kernel, in physical space,

`output_filtered(x, y, z) = \int output(x', y', z) * kernel(x, y, x', y') dx' dy'`

 We have to be careful not to introduce any inhomogeneities from this convolution. To do that, the kernel has to depend only on the geodesic distance of points `(x, y)` and `(x', y')` on the spher

[2020-08-17 04:39] aidanheerdegen opened #108 "Explorer notebook unreadable"
The new tutorial on the Explorer features appears broken.

When I try and open it I get:

[code]
Also doesn't open cleanly on nbviewer.jupyter.org

I'm guessing it was @navidcy's edit

https://github.com/COSIMA/cosima-recipes/pull/107/commits/b6e38f46b22a34d0b59be868369291518ad73e6f

I'll redo it with Navid's changes and see if it fixes it.

[2020-08-17 04:40] navidcy commented on #108
:( sorry...

[2020-08-17 04:41] navidcy commented on #108
perhaps it was 31815c72311d7d168624b685eb2b94243ed2f07f?

[2020-08-17 04:49] aidanheerdegen commented on #108
Yes, removing that change does make it load, but all the widget state is sort of stuffed as well and it still doesn't load with nbviewer. I'll recreate it.

[2020-08-17 04:57] angus-g commented on #108
I think nbviewer has just cached the broken version -- with the fix on the `dataexplore` branch of this repository (which is the same as current master), it works fine. Locally, there are lots of broken link icons, which isn't surprising given that the widgets aren't connected to anything. You will also need to locally "trust" the notebook for the widgets to load at all.

[2020-08-17 05:00] aidanheerdegen commented on #108
I saved the widget state so as to avoid the broken link stuff so that it would render ok as static html.

[2020-08-17 05:03] navidcy commented on #108
This worked for me now:
https://nbviewer.jupyter.org/github/COSIMA/cosima-recipes/blob/master/Tutorials/Using_Explorer_tools.ipynb?flash_cache=True

[2020-08-17 05:03] angus-g commented on #108
None of Navid's commits broke that, from what I see. Indeed, checking out your original commit locally renders the same... I don't think the saved widget state affects notebooks, only nbconvert/nbviewer.

[2020-08-17 05:06] aidanheerdegen commented on #108
Thanks for checking on that. Okey doke, call that done then.

[2020-08-17 05:06] #108 closed

[2020-09-08 23:43] AndyHoggANU opened #109 "Experiment explorer with static variables"
Just outlining a bug I found with with static variables using the experiment explorer.

If I look for 'ht' in a given experiment (I am using '01deg_jra55v13_ryf9091'), then try to load through the explorer, it tells me:

[code]
On the other hand, I can easily import this data using:
[code]
Is it possible that setting frequency to static doesn't work?

[2020-09-08 23:52] aidanheerdegen commented on #109
This was fixed here https://github.com/COSIMA/cosima-cookbook/pull/211 but It appears I haven't updated the `conda` environment. I will do so and let you know when that is done.

[2020-09-09 01:14] aidanheerdegen commented on #109
Ok, that is updated and I've checked it is working now.

[2020-09-09 01:14] #109 closed

[2020-09-18 00:59] aidanheerdegen opened #110 "Automated testing"
There was a desire to have some automated testing of some recipes, probably Documented Examples and Tutorials, to check that changes to the underlying infrastructure (COSIMA Cookbook and other libraries, databases and data locations) aren't breaking stuff. And if it is, fixing it.

This is an interesting thread in any case, but in particular Ryan Abernathy's description of their CI build and deplo

[2020-11-05 23:08] aidanheerdegen opened #113 "Update broke the explorer tutorial"
https://github.com/COSIMA/cosima-recipes/commit/1763866030fa9eeec7ccbe997085d4335fa69771#diff-46bb7e6e9712bc196c29c4ca09b994093e9cf5f503005d0784aa04288a58ab4a broke the inlining of the GUI elements in the explorer tutorial

Should look like

https://github.com/COSIMA/cosima-recipes/commit/1763866030fa9eeec7ccbe997085d4335fa69771#diff-46bb7e6e9712bc196c29c4ca09b994093e9cf5f503005d0784aa04288a58ab4a

[2020-11-11 21:16] navidcy commented on #32
This could be a relevant/helpful reference.
https://doi.org/10.1175/JPO-D-19-0256.1

[2020-11-26 00:47] navidcy opened #115 "Promote transect example to "Documented Examples" category?"
@AndyHoggANU, do you think this can be promoted to Documented Examples?
https://nbviewer.jupyter.org/github/COSIMA/cosima-recipes/blob/master/ContributedExamples/Cross-slope_section.ipynb
If not quite yet, I feel that with slight modifications it can definitely make the cut.

Some Documented examples are naturally more documented than others... This one would be in the not-so-documented part of th

[2020-11-26 01:40] AndyHoggANU commented on #115
Yes, this is definitely documented, Let's promote it!

[2020-11-26 03:38] navidcy commented on #113
hey, is this still outstanding?

[2020-11-26 03:38] navidcy commented on #96
cc @rmholmes (in relation to a chat in slack...)

[2020-11-26 03:40] navidcy commented on #62
@AndyHoggANU, this is where your code

[code]
could come very handy.

[2020-11-26 04:13] aidanheerdegen commented on #113
I believe so, or at least I haven't fixed it.

[2020-11-26 05:44] rmholmes commented on #96
FYI: For the OMIP run I have to create a basin mask like the one we have for the 1-degree model for the 1/4-degree model. I plan to do this early next week by using the boundaries from the 1-degree mask and updating for the 1/4-degree land-sea mask differences. I'll post here with what I end up doing.

[2020-11-27 00:33] aidanheerdegen commented on #115
There is a lot of detail in the `xgcm` grid stuff that could/should be added to the cookbook.

[2020-11-27 00:36] navidcy commented on #115
@aidanheerdegen I agree... I just need to find some time to write up an `xgcm` tutorial. I'm also trying to have their `.integrate()` and `.differentiate()` functionality using the grid metric working before doing so. See, e.g., discussion [here](https://github.com/xgcm/xgcm/issues/142).

[2020-11-29 21:30] Thomas-Moore-Creative commented on #96
Aloha, I don't have at hand a clean piece of code to share here but I have started to use [regionmask](https://regionmask.readthedocs.io/en/stable/), xesmf, & xgcm with the "marine area" shapefile linked [at Natural Earth](https://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-physical-labels/) as this [link](https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m

[2020-11-30 02:04] rmholmes commented on #96
Thanks @Thomas-Moore-Creative.

I have made a basin mask a very non-general way for the 1/4-degree, based on the same file that was lying around in the input folders for the 1-degree, some old masks I had lying around for a paper and matlab. The two files are at:
/scratch/public/rmh561/basin_mask.nc % 1-10 labelled basin mask for 1-degree model
/scratch/public/rmh561/basin_mask_025deg.nc % 1-10 la

[2020-12-11 05:50] dhruvbhagtani2105 opened #117 "Problem while fetching daily 3D data on ACCESS-OM2"
To get daily 3D data for velocities(u,v,wt), I wrote:
`u = cc.querying.getvar(expt,'u',session,ncfile ='ocean_daily_3d_u_12.nc',start_time='2088-12-01',
                          end_time='2088-12-31').sel(xu_ocean=slice(-90,10)).sel(yu_ocean=slice(10,65))`

We require the name of ncfile to find the data, and to do that, I used:
`vars_01deg[vars_01deg['name'].str.lower().str.match('u')]`

I got th

[2020-12-13 02:08] AndyHoggANU commented on #117
One question about this issue. Can you try looking at these variables with the Database Explorer or Experiment Explorer tool -- there is a Tutorial on it. It would be nice to know whether this tool suffers from the same problem.

[2020-12-14 12:17] dhruvbhagtani2105 commented on #117
Interesting point. With the Database Explorer and Experiment Explorer tool, it works well. I can see why that is the case: I am calling the variables using their respective ncfiles and not by mentioning their frequency. In other words, I am calling as:

`u = cc.querying.getvar(expt,'u',session,ncfile ='ocean_daily_3d_u_12.nc',start_time='2088-12-01', end_time='2088-12-31').sel(xu_ocean=slice(-90,1

[2020-12-15 01:06] AndyHoggANU commented on #117
OK, that is good. We should remind new users about road-testing the database explorer. Think I will close this issue for now as it is sorted.

[2020-12-15 01:06] #117 closed

[2020-12-21 12:13] #115 closed

[2021-01-18 03:42] #113 closed

[2021-02-05 00:10] navidcy opened #119 "Re-gridding ACCESS-OM2 grid to normal lat-lon grid via xESMF"
An example showing how one can get the output on the tri-polar curvilinear grid and re-grid it on a sane lat-lon grid would be very useful. This can be readily done via the [xESFM](http://pangeo-xesmf.readthedocs.io/) package.

[2021-02-22 05:54] #119 closed

[2021-03-17 00:04] navidcy opened #123 "Markdown images stripped from rendered output"
I'm referring to the diagram in the Relative Vorticity example in "Method 2".

Compare

https://nbviewer.jupyter.org/github/COSIMA/cosima-recipes/blob/master/DocumentedExamples/RelativeVorticity.ipynb

and

https://cosima-recipes.readthedocs.io/en/latest/documented_examples/RelativeVorticity.html#gallery-documented-examples-relativevorticity-ipynb

cc @angus-g

[2021-03-17 01:28] angus-g commented on #123
There's another broken example: https://cosima-recipes.readthedocs.io/en/latest/documented_examples/Cross-slope_section.html#gallery-documented-examples-cross-slope-section-ipynb

Looks like we might need to add some metadata to the notebook so that it copies these externally-referenced images across to the output directory (there's the `other_supplementary_files` attribute) -- I need to figure ou

[2021-03-18 21:31] #123 closed

[2021-04-28 04:17] aidanheerdegen opened #127 "Add masking option to extracting bottom values example"
When helping Paul extracting bottom velocities from tenth degree data he tried using the [vector indexing approach in the documented example](https://github.com/COSIMA/cosima-recipes/blob/master/DocumentedExamples/Age_at_the_Bottom.ipynb) for extracting bottom age but found it very slow for large long time series of daily data.

In this notebook I tried masking and found it to be orders of magnitu

[2021-04-29 05:52] navidcy opened #128 "Upgrade `SeaIceSeasonality_DFA.ipynb` to Documented Example?"
I feel that @lidefi87's example could be upgraded to a Documented one

https://nbviewer.jupyter.org/github/COSIMA/cosima-recipes/blob/master/ContributedExamples/SeaIceSeasonality_DFA.ipynb

What do you reckon @AndyHoggANU?

[2021-04-29 10:46] lidefi87 commented on #128
I'm happy to make changes if needed to be included as a documented example

[2021-04-29 10:47] navidcy commented on #128
I think the only change needed is the folder. :)
Let’s see what @AndyHoggANU thinks.

[2021-04-29 23:13] AndyHoggANU commented on #128
Oh yes, this is definitely well-documented in my opinion -- nice work!
Let's copy it over to the DocumentedExamples folder and put it there for others to see.

[2021-04-29 23:16] navidcy commented on #128
@lidefi87 do you wanna submit a PR? Just change its folder, nothing else. Or I'll do it later this arvo...

[2021-04-30 01:11] lidefi87 commented on #128
This is great news! I will make the folder change now

[2021-04-30 01:23] #128 closed

[2021-05-20 05:09] lidefi87 opened #131 "Time correction not working in IcePlottingExample (DocumentedExamples)"
The time correction method currently included in the `[IcePlottingExample.ipynb](https://github.com/COSIMA/cosima-recipes/blob/master/DocumentedExamples/IcePlottingExample.ipynb)` is not working.

The line in question is:
`var['time'] = var.time - timedelta(hours=12)`

Hakase suggested an option that fixed this issue for me using outputs from cycle 2 of `ACCESS-OM2-01`:
`var['time'] = var.time.to_

[2021-05-20 06:04] navidcy opened #133 "Plotting maps with correct tripole region -- method in `Making_Maps_with_Cartopy.ipynb` *not* working for 1 degree output"
When one tries to follow the tips within the tutorial `Making_Maps_with_Cartopy.ipynb` for fixing the map polewards of 65 degrees latitude for 1 degree model output it fails miserably.

Here is a copy of the `Making_Maps_with_Cartopy.ipynb` tutorial a the with **the only difference** that loads SST from a 1 degree model + the `grid

https://gist.github.com/navidcy/fee1a84f7fa4a05b548191ae36f142d3

[2021-05-20 06:07] navidcy commented on #133
btw, @aekiss suggested a fix/hack for when working with 1 degree model output which is:

[code]

This works but **why**? Ideally we'd like to have a method that works the same across resolutions...

[2021-05-20 06:07] navidcy commented on #133
cc: @AndyHoggANU, @aidanheerdegen, @angus-g in case they have any ideas.

[2021-05-20 06:36] aidanheerdegen commented on #133
To be clear, are you saying this still works without the two extra lines
[code]
with a 0.25 degree dataset?

[2021-05-20 06:41] navidcy commented on #133
Exactly!
The current tutorial *does not include* these two lines and everything works OK. But for 1 degree output one gets the errors you see here:
https://gist.github.com/navidcy/fee1a84f7fa4a05b548191ae36f142d3 or view in [nbviewer](https://nbviewer.jupyter.org/gist/navidcy/fee1a84f7fa4a05b548191ae36f142d3)

[2021-05-20 20:14] navidcy commented on #131
@lidefi87, could you submit a PR?

[2021-05-20 23:04] lidefi87 commented on #131
Sure. I'll send it off later today.

[2021-05-20 23:09] navidcy commented on #131
No rush

[2021-05-21 01:23] lidefi87 commented on #131
PR sent.

[2021-05-21 01:24] navidcy commented on #131
It should be closed when the PR is merged. :)

[2021-05-24 04:18] #131 closed

[2021-05-27 00:12] fzhang0 opened #137 "Can not save data as netcdf file"
When I try to use .to_netcdf, it did't work and  there is some error.

https://gist.github.com/fzhang0/56d524bb7a44ecfebba5af726ead163c

[2021-05-27 00:29] navidcy commented on #137
@fzhang0 could you point us to a notebook? It may be helpful in order to identify the source of this.

[2021-05-27 00:30] navidcy commented on #137
@aidanheerdegen, @angus-g: me and @fzhang0 were trying to save to netcdf yesterday and kept getting this weird `time_bounds` error... any insight?

[2021-05-27 00:31] angus-g commented on #137
That's a bit weird from xarray, but you could probably get it to give you the raw time data on the DataArray by passing `..., decode_times=False` to `getvar`?

[2021-05-27 00:33] navidcy commented on #137
@fzhang0, could you try that?
That is, try
[code]

[2021-05-27 00:41] aidanheerdegen commented on #137
Your other option is to remove the `time_bounds` attribute:
[code]
then it can serialise to netCDF without error, but also missing `time_bounds`

[2021-05-27 00:42] angus-g commented on #137
That might be a better solution, actually! I'm not sure if the CF decoding applies to attributes anyway?

[2021-05-27 03:37] navidcy commented on #137
@fzhang0 if the issue is resolved then feel free to close it. Otherwise, if you still have an issue let us know.

[2021-05-27 06:25] #137 closed

[2021-05-31 21:00] navidcy commented on #127
We should update the example then! @AndyHoggANU wanna undertake this? You made this Age example, right?

[2021-06-03 00:57] aidanheerdegen opened #138 "Update index tutorial for new"
The API for `build_index` has changed,

https://github.com/COSIMA/cosima-cookbook/blob/master/cosima_cookbook/database.py#L643-L650

the tutorial should be updated to reflect this

https://github.com/COSIMA/cosima-recipes/blob/master/Tutorials/Make_Your_Own_Database.ipynb

[2021-06-03 07:24] navidcy commented on #138
So we should simply remove `update=True` since now **by default** database is updated via the `force=False` kwarg?

[2021-06-03 23:38] aidanheerdegen commented on #138
To be honest I was never that sure what `update=True` did

https://github.com/COSIMA/cosima-cookbook/pull/234#issuecomment-802450372

Just removing the `update=True` flag should be sufficient.

[2021-06-16 06:08] aidanheerdegen commented on #127
I'll update this.

[2021-06-16 07:20] aidanheerdegen commented on #127
I'm having reproducing the timing I got before. The indexing approach is faster. Hmmm.

[2021-06-17 01:21] adele157 commented on #127
@aidanheerdegen I find your method faster than kmt indexing (also equivalent to a slightly alternative method I usually use from Ruth). See:
https://github.com/adele157/testing/blob/main/compare_bottom_extraction_methods.ipynb
I guess is it dependent on the size of the region and time length?

[2021-06-17 06:31] aidanheerdegen commented on #127
Thanks @adele157

I've added my updated notebook to a PR above, but I'm not convinced it is worth merging, or at least maybe I could add some caveats, as it is MUCH slower (3.58s v 0.142s). Weird.

[2021-06-17 06:40] adele157 commented on #127
The masking method is faster if you don't load the variable first. In your notebook you load the variable first for both methods, so you're not including the loading time in the comparison.

[2021-06-18 06:40] aidanheerdegen commented on #127
Ok, I have added a section to show the effect of `load`ing the data. Thanks @adele157

[2021-06-28 06:28] aidanheerdegen commented on #127
I've fixed the failing test (the cowards way by pinning the version of sphinx).

Anyone want to review? @navidcy ?

[2021-06-28 08:22] navidcy commented on #127
Yeap

[2021-07-26 01:39] #127 closed

[2021-08-03 07:29] ongqingyee opened #144 "MetPy and date error in `Cross-slope_section.ipynb`"
Running `Cross-slop_section.ipynb` with `conda env: analysis3-21.04` gives an error at cell `[9]`:

[code]

With `conda env: analysis3-21.07`, cell `[4]` gives an error relating to the date format:

[code]

[2021-08-03 21:38] navidcy commented on #144
@aidanheerdegen do you have any idea about this?
This notebook was OK with the now archaic `conda-analysis20.07`...

[2021-08-03 22:30] aidanheerdegen commented on #144
Didn't @wghuneke contribute that one? If Wilma is still using these analyses perhaps she has some updates that will fix it?

[2021-08-03 22:31] navidcy commented on #144
Yeap, I should have pinged @wghuneke also! Any ideas here?

[2021-08-03 22:52] aidanheerdegen commented on #144
There was an update to `cftime` which might be causing more widespread issues. I'm looking into it.

[2021-08-03 22:56] navidcy commented on #144
Something along those lines was what I was thinking when I pinged you... Thanks @aidanheerdegen

[2021-08-03 23:10] aidanheerdegen commented on #144
I was getting one of those `TypeError` exceptions with the `has_year_zero` stuff with a seperate problem, but now I can't reproduce.

Odd.

[2021-08-04 04:35] wghuneke commented on #144
I also run into problems when loading the data, probably the same problem @aidanheerdegen mentioned.

But regarding the actual issue: try to add the following line after the longitude range is shifted and before the parsing step (in cell 8):
`ds['x'].attrs = u['xu_ocean'].attrs`
You should get a message after parsing the data. If not, then the parsing step didn't work and you won't be able to run

[2021-08-04 05:37] ongqingyee commented on #144
@wghuneke this works well, thanks!

[2021-08-04 05:57] aidanheerdegen commented on #144
Ah, right, `xarray` operations strip out attributes.

[2021-08-05 22:54] navidcy commented on #144
The Cosima consortium would appreciate a PR that resolves this by anyone who is willing to do so.

Please don't let this remark exert any pressure on anyone. :)

[2021-08-06 01:55] #144 closed

[2021-09-24 02:56] PaulSpence opened #149 "Sea Ice `getACCESSdata` function fails for some expts"
Please see a simple notebook outlining the problem here:
https://github.com/PaulSpence/Denman2024Voyage/blob/main/notebooks/SeaIceIssue.ipynb

getACCESSdata is sourced from a recipe here:
https://cosima-recipes.readthedocs.io/en/latest/documented_examples/SeaIceSeasonality_DFA.html#gallery-documented-examples-seaiceseasonality-dfa-ipynb

As shown in the example, it works for some experiments, e.g.

[2021-09-30 03:55] aidanheerdegen commented on #149
I believe this was due to incompatible date types and is fixed by adding `use_cftime=True` to the `getvar` function in `getACCESSdata`.

[2021-10-08 23:29] navidcy opened #150 "Update the `Making_Maps_with_Cartopy` tutorial"
After the long thread that started with @hakaseh's question about plotting (see ARCCSS @ https://arccss.slack.com/archives/C6PP0GU9Y/p1632954943031000) I think we should update the [Making Maps Tutorial](https://cosima-recipes.readthedocs.io/en/latest/tutorials/Making_Maps_with_Cartopy.html#gallery-tutorials-making-maps-with-cartopy-ipynb) so that:

- It demonstrates `xarray` functionality (e.g.,

[2021-10-10 01:01] navidcy commented on #150
OK, I was actually wrong or not thinking this straight.

We can definitely use `xarray`'s plotting functionality. See, e.g., this:

[code]

<img width="891" alt="Screen Shot 2021-10-10 at 11 58 49 am" src="https://user-images.githubusercontent.com/7112768/136677484-773f3704-448c-40cd-a857-37fff319df5f.png">

[code]

<img width="910" alt="Screen Shot 2021-10-10 at 11 59 08 am" src="https://user-ima

[2021-10-10 22:53] aidanheerdegen commented on #150
Lots. Issue https://github.com/COSIMA/cosima-cookbook/issues/191 proposes some mechanisms to identify and define grids in the CC database. An obvious use case for this would be named grids, or auto-loading grid information in `getvar`.

An intermin option would be to somehow index the grid data so that is is accessible in the Cookbook database under a suitable name.

The variables are masked becau

[2021-10-10 23:18] aidanheerdegen commented on #150
The post-processing is adding umasked grids back into the data.

[2021-10-10 23:21] navidcy commented on #150
Let's do that then!

(I don't know what the "post-processing" is... Is it something trivial? Something, e.g., payu can be doing as a post-process thing?)

[2021-10-28 04:43] aekiss opened #151 "xgcm vorticity formula"
@navidcy should https://github.com/COSIMA/cosima-recipes/blob/master/DocumentedExamples/RelativeVorticity.ipynb
use `dxt` instead of `dxu` in cell 18?
[code]
`dxu` is inconsistent with the subsequent text.

[2021-12-15 02:08] navidcy opened #154 "Let's enforce reviewing PRs"
Can @aidanheerdegen or @angus-g (or who ever has repo owner rights) change the repo settings so that merging a PR to master is only possible after a review?

[2021-12-15 02:35] angus-g commented on #154
Done, let's see how that goes.

[2021-12-15 02:35] #154 closed

[2021-12-15 02:36] navidcy commented on #154
It'll go great!

[2021-12-15 06:02] navidcy opened #155 "Simplify plotting in `DocumentedExamples/Cross-slope_section.ipynb` example?"
The code for the first plot below the text "Map of topographic slope and location of cross-slope section" in the `DocumentedExamples/Cross-slope_section.ipynb` seems complicated. See: https://cosima-recipes.readthedocs.io/en/latest/documented_examples/Cross-slope_section.html#plotting

I don't understand why land has to be plotted on its own. Also why don't we use the `xarray_dattaarray.plot()` fu

[2021-12-15 06:03] navidcy commented on #155
(This was inspired by a remark @aidanheerdegen made in #153.)

[2022-02-02 03:47] #155 closed

[2022-09-02 03:54] rbeucher opened #161 "Compare Temperature and Salinity to WOA13"
Hi All,

I am playing with the recipes for the ACCESS-NRI Model Evaluation Framework.
I wanted to use the following Notebook as a base:
https://github.com/COSIMA/cosima-recipes/blob/master/DocumentedExamples/Compare_SST_SSS_TemperatureSalinity_to_WOA13.ipynb

My pb is I can't find the WOA13 data on NCI. Anyone knows where I could find them?

Thanks a lot

Romain

[2022-09-02 03:59] adele157 commented on #161
Looks to me like it's where it says it is in the notebook:
/g/data/hh5/tmp/cosima/woa13/

I think there's now a World Ocean Atlas 2018, should we update these?

[2022-09-02 04:02] rbeucher commented on #161
I can only find `/g/data/hh5/tmp/cosima/woa13/` and there is no output.
I don't see a `/g/data/hh5/tmp/cosima/woa13/` folder

[2022-09-02 04:05] adele157 commented on #161
I can see it. Are you a member of hh5?

On Fri, 2 Sept 2022 at 14:02, Romain Beucher ***@***.***>
wrote:

[2022-09-02 04:09] rbeucher commented on #161
Oh my bad. I can see it. It's just not indexed into the Database apparently.
Sorry about that.

[2022-09-02 04:09] #161 closed

[2022-11-03 03:26] navidcy opened #164 "A Documented Example on how to use `xgcm` with cosima output is wanted"
That's coming out from the discussion in Cosima workshop 2022.

cc @janjaapmeijer

[2022-11-14 00:15] navidcy commented on #150
OK, I'll close this perhaps? @aidanheerdegen?

[2022-11-14 00:20] navidcy commented on #94
Perhaps we close this as stale? @josuemtzmo?

[2022-11-14 01:47] navidcy commented on #149
@PaulSpence did you try this suggestion?

[2022-11-14 02:14] PaulSpence commented on #149
yep. it worked,
p

On Mon, Nov 14, 2022 at 12:47 PM Navid C. Constantinou <
***@***.***> wrote:

--
*I’m sending this message at a time that suits me. I don’t expect you to
reply outside of your own work hours.*

Paul Spence, Assoc. Prof.
ARC Future Fellow
Institute for Marine and Antarctic Studies <https://www.imas.utas.edu.au/>
University of Tasmania, Hobart, Australia
https://paulspence.github.

[2022-11-14 03:09] navidcy commented on #149
I find this notebook incredibly slow to run... too much happening I guess?

[2022-11-14 03:21] navidcy commented on #149
cc @aekiss

[2022-11-14 03:23] navidcy commented on #149
like do we need to run for so many years to demonstrate this functionality?

[2022-11-14 03:29] aidanheerdegen commented on #150
Yeah I guess. There isn't anything happening, and it's linked to the other issue so can be found again.

Mind you ... perhaps grids is something @rbeucher might be interested in adding to his "TO-DO" list?

[2022-11-14 03:40] navidcy commented on #150
Yes, yes, yes!!!

This issue with masked grids is something we should address. There should be a easy way to get the unmasked grids and don't rely in some `.nc` file somebody has put somewhere with some medatada and not others and which is not the same across model resolutions (as is the case now).

If, for example, a user tries to run the Maps tutorial for 1 degree model it will fail.

cc @rbeuch

[2022-11-14 04:05] rbeucher commented on #150
OK. So a bit late for the party... I am trying to get my head around this.

So if I understand correctly
- the grids stored with the output fields are masked so they can't be used to plot the fields... correct?
- Unmasked grids are available in `/g/data/ik11/grids/...`
- The Tutorial uses the unmasked grids to plot the fields. Pb this assumes that the user knows about them, where to find them etc.

[2022-11-14 04:08] navidcy commented on #150
Yes

Yes, but not in same for for each resolution! I don’t know why!!

indeed

don’t have an opinion on this

[2022-11-14 04:09] rbeucher commented on #150
Why? Because the tutorial loads a specific grid?

[2022-11-14 04:11] navidcy commented on #150
No. Given that you fix the filename still there is an issue because the variables saved in the 1 degree nc file are different!!!

[2022-11-14 04:11] rbeucher commented on #150
Oh OK... Now I get it.

[2022-11-14 04:19] aidanheerdegen commented on #150
The ocean data has the grid, but it is masked because of processing masking. In the masked sections there is no lat/lon values, because there was no data file for those sections. This isn't an issue for the data field itself, as there are NaNs there, which is correct. It is a problem if the coordinates have NaNs in them.

Now it is the case that for some processor and IO layout combinations it is

[2022-11-14 04:38] rbeucher commented on #150
Yeah I get why you mask for processing but why don't you provide the unmasked grid in the outputs (and possibly the mask if it is useful). I don't know the internal details. Does the masking result in some sparse storage to optimise memory usage? I mean do you effectively lose the masked info?

We can replace the missing values if we have a proper grid file, that's easy enough I suppose but I wond

[2022-11-14 04:57] aidanheerdegen commented on #150
Correct. It simply does not exist for the ocean model in the masked locations.

The ice model works differently. It does all IO through the master PE (which is why PIO is required for higher core counts otherwise IO completely dominates execution time). So it doesn't have the same problems. It also copies all it's grid information all the time from one restart location to the next, hence there is

[2022-11-14 04:58] rbeucher commented on #150
OK looks like we do need a post-processing step then.

[2022-11-14 08:09] josuemtzmo commented on #94
I guess so, It has definitely being stale for quite a while.

[2022-11-14 23:36] aidanheerdegen commented on #94
Actually I was talking to @rbeucher about just this sort of thing yesterday. That there was a desire to move some commonly used functionality into the Cookbook. So perhaps leave this open?

[2022-11-14 23:55] navidcy commented on #94
I was planning to leave it open until the hackathon and see then what happens... But we can leave it open for as long as it's useful to remain open! :)

[2022-11-15 02:39] rbeucher opened #173 "Can I be added to the COSIMA Github Organisation?"
Hi @navidcy @aidanheerdegen

Is it possible to add me to the organisation?

Thanks

Romain

[2022-11-15 03:07] aidanheerdegen commented on #150
The problem with that is you're not going to post-process every dataset that has already been created. So to be support existing data there should be some convenient way to access the correct grid ...

[2022-11-15 04:31] rbeucher commented on #150
Yes I get that. It's OK if we are talking about a few grids I suppose.

For future runs, could we imagine adding some sort of reference to the grid?
I mean we could release and mint a DOI for the grids and enforce that the grid information is added to the outputs.
That would make things easier. That's also good for provenance / reproducibility.

What do you think?

[2022-11-15 23:26] rbeucher commented on #6
Hi @aekiss,

I could look into that as part of our Model evaluation work.
I have actually started to look at this a few months ago.
The idea is to add the Metrics from Russel et al 2018

Russell, J. L., Kamenkovich, I., Bitz, C., Ferrari, R., Gille, S. T., Goodman, P. J., et al. (2018). Metrics for the evaluation of the Southern Ocean in coupled climate models and earth system models. Journal of G

[2022-11-15 23:47] rbeucher commented on #164
Maybe relevant?

https://earth-env-data-science.github.io/lectures/working_with_gcm_data.html

[2022-11-15 23:49] #173 closed

[2022-11-17 06:59] aekiss opened #175 "`COSIMA_CookBook_Tutorial.ipynb` need updating"
https://github.com/COSIMA/cosima-recipes/blob/master/Tutorials/COSIMA_CookBook_Tutorial.ipynb
is a bit out of date in places, eg directory paths in sec 1.1

Also it would be good to state what projects users need membership of. At minimum I think it would be `ik11` and `hh5`, but there's also data on `cj50` [and now `jk72`](https://github.com/COSIMA/master_index/pull/32).

[2022-11-19 22:33] navidcy commented on #175
Where does the default database lives now?

[2022-11-20 00:04] aekiss commented on #175
`/g/data/ik11/databases/cosima_master.db`

[2022-11-21 00:59] #175 closed

[2022-11-21 03:05] #149 closed

[2022-11-21 03:11] navidcy opened #177 "Simplify sea ice seasonality example?"
Continuing the discussion that started in #172:

The [sea ice seasonality](https://cosima-recipes.readthedocs.io/en/latest/documented_examples/SeaIceSeasonality_DFA.html#gallery-documented-examples-seaiceseasonality-dfa-ipynb) is a bit computationally intense. Question arises whether we can simplify the example while not compromising on what it strives to demonstrate.

[2022-11-21 21:54] navidcy opened #179 "Inefficient mask construction in `Cross-contour_transport.ipynb`"
The Documented example `Cross-contour_transport.ipynb` creates masks in a very inefficient way (using nested for loops). A more efficient way would be to utilize xarray's functionality

by @angus-g

[2022-11-24 19:13] navidcy opened #180 "Mass transport stream functions in any arbitrary pair of coordinates"
[from https://forum.access-hive.org.au/t/cosima-hackathon-january/142/4]

[2022-11-24 19:16] navidcy opened #181 "COSIMA org admin rights"
I'm often hitting the wall in doing things because I'm not an admin of COSIMA organization. See, e.g., below

<img width="1125" alt="Screen Shot 2022-11-25 at 6 13 12 am" src="https://user-images.githubusercontent.com/7112768/203852487-0416edf3-6a40-40f9-a8eb-ff8783883d59.png">

Who should I formally apply to become admin of the github COSIMA organization? I hereby declare that I will adhere to CO

[2022-11-24 19:41] navidcy opened #182 "Further categorisation of Recipes"
At the moment we have:
- Documented Examples
- Contributed Examples

But the "Documented Examples" have grown a lot in numbers. And they vary in level of difficulty. I suggest we further split them into, e.g.,
- Documented Examples
  - Simple
  - Elaborate
- Contributed Examples

or something like that...?

[2022-11-24 21:55] adele157 commented on #181
I have no power to change it, but I vote we should add you as an Owner @navidcy!

[2022-11-24 22:11] aidanheerdegen commented on #181
I guess someone has made Navid an admin, because I just went to do it and he already was. I've made you an admin as well @adele157

I will remove myself as owner from the COSIMA Organisation, but I can make you an owner @adele157 before I do.

[2022-11-24 22:13] navidcy commented on #181
Actual it’s organization owner rights that I need to make the hackathon project public.

[2022-11-24 22:14] aidanheerdegen commented on #181
Yeah there are a bunch of owners. I just made you one. Use your power wisely!

[2022-11-24 22:16] navidcy commented on #181
Of course. Always wisely.

[2022-11-24 22:16] #181 closed

[2022-11-24 22:16] aidanheerdegen commented on #181
I made @adele157 and owner too, but I can't un-make myself an owner. @navidcy can you convert me to an outside collaborator please.

[2022-11-24 22:19] navidcy commented on #181
I made you a simple member... Couldn't pull myself together to convert you to outsider.

[2022-11-24 22:19] navidcy commented on #181
(Does it make a difference? Happy to do that if it's better...)

[2022-11-24 22:29] aidanheerdegen commented on #181
No that's fine. Thanks.

[2022-11-26 03:33] navidcy opened #184 "Update `Contributed Examples/Bathymetry`"
We should be able to update this notebook to a documented example.

Few things that come in mind at the moment we can add:

- Plot model's bathymetry by loading a variable + coords from some model run and **not** from a specific `netCDF` file.
- What is "supergrid" and why we need to take every other coordinate point? These look like hacks -- coordinates should come automatically when we load the